version: 2
updates:

updates:
   - package-ecosystem: "uv"
     directory: "/"
     schedule:
       interval: "weekly"
     groups:
        actions:
           patterns:
              - '*'
   - package-ecosystem: github-actions
     directory: /
     schedule:
        interval: weekly
     groups:
        actions:
           patterns:
              - '*'
