*.pyc
/__pycache__
venv
.venvs
.venv
/.pytest_cache
*.swp
.eth_consensus_specs

build/
output/
dist/

.pytest_cache
.mypy_cache

# Dynamically built from Markdown spec
tests/core/pyspec/eth_consensus_specs/phase0/
tests/core/pyspec/eth_consensus_specs/altair/
tests/core/pyspec/eth_consensus_specs/bellatrix/
tests/core/pyspec/eth_consensus_specs/capella/
tests/core/pyspec/eth_consensus_specs/deneb/
tests/core/pyspec/eth_consensus_specs/electra/
tests/core/pyspec/eth_consensus_specs/fulu/
tests/core/pyspec/eth_consensus_specs/gloas/
tests/core/pyspec/eth_consensus_specs/eip*/

# coverage reports
.htmlcov
.coverage
.coverage.*

# local CI testing output
tests/core/pyspec/test-reports
tests/core/pyspec/eth_consensus_specs/test_results.xml

*.egg-info

# TOC tool outputs temporary files
*.tmp

# docs reader build
docs/specs
docs/sync
docs/ssz
docs/fork_choice
docs/README.md
site

# docker test results
testResults

# lint temporary files
.lint_diff_*
