site_name: Ethereum Consensus Specs
site_url: https://ethereum.github.io/consensus-specs/
repo_name: ethereum/consensus-specs
theme:
  name: material
  palette:
    - scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - search
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.highlight:
      use_pygments: true
      noclasses: true
      pygments_style: monokai
      linenums: true
      anchor_linenums: true
  - mdx_truly_sane_lists:
      nested_indent: 4
plugins:
  - search
  - awesome-pages
  - gen-files:
      scripts:
        - scripts/gen_spec_indices.py
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ethereum/consensus-specs
