[build-system]
requires = [
  "marko==1.0.2",
  "ruamel.yaml==0.17.21",
  "setuptools==75.8.0",
  "wheel==0.45.1",
]

[project]
name = "eth2spec"
dynamic = ["version"]
authors = [{ name = "ethereum" }]
description = "Ethereum consensus layer specifications package"
readme = { file = "README.md", content-type = "text/markdown" }
requires-python = ">=3.9,<4.0"
dependencies = [
  "curdleproofs==0.1.2",
  "eth-typing==3.5.2",
  "eth-utils==2.3.2",
  "lru-dict==1.2.0",
  "marko==1.0.2",
  "milagro_bls_binding==1.9.0",
  "py_arkworks_bls12381==0.3.8",
  "py_ecc==7.0.1",
  "pycryptodome==3.21.0",
  "remerkleable==0.1.28",
  "ruamel.yaml==0.17.21",
  "setuptools==75.8.0",
  "trie==3.0.1",
]

[project.optional-dependencies]
test = [
  "pytest-cov==6.0.0",
  "pytest-xdist==3.6.1",
  "pytest==8.3.5",
]
lint = [
  "codespell==2.4.0",
  "flake8==5.0.4",
  "mypy==0.981",
  "pylint==3.3.1",
]
generator = [
  "filelock==3.17.0",
  "pathos==0.3.0",
  "pytest==8.3.5",
  "python-snappy==0.7.3",
]
docs = [
  "mdx-truly-sane-lists==1.3",
  "mkdocs-awesome-pages-plugin==2.10.1",
  "mkdocs-material==9.1.5",
  "mkdocs==1.6.1",
]
