pytest==7.4.0
pytest-cov==4.1.0
pytest-xdist==3.3.1
lru-dict==1.2.0
remerkleable==0.1.27
py_ecc==6.0.0
py_arkworks_bls12381==0.3.4
milagro_bls_binding==1.9.0
trie==2.0.2
eth-hash==0.5.2
pycryptodome==3.15.0