
name: Publish docs

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install dependencies to venv
        run: make pyspec

      - name: Build docs
        run: make _copy_docs

      - name: Deploy
        run: venv/bin/mkdocs gh-deploy --force
