name: Nightly mainnet tests

defaults:
  run:
    shell: zsh -e {0}

on:
  workflow_dispatch:
    inputs:
      ref:
        description: The branch, tag or SHA to checkout and build from
        default: master
        type: string
        required: true
  schedule:
    # Every day at 00:00 UTC
    - cron: '0 0 * * *'

jobs:
  tests:
    timeout-minutes: 720  # 12 hours
    runs-on: [self-hosted-ghr-custom, size-s-x64, profile-consensusSpecs]
    strategy:
      fail-fast: false
      matrix:
        fork:
          - phase0
          - altair
          - bellatrix
          - capella
          - deneb
          - electra
          - fulu
          - gloas
          - eip7805
          - eip7928
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'
      - name: test-${{ matrix.fork }}
        run: make test component=pyspec preset=mainnet fork=${{ matrix.fork }}
      - name: Prepare test results for upload
        if: always()
        run: cp -r ./tests/core/pyspec/test-reports ./tests/core/pyspec/test-results-mainnet-${{ matrix.fork }}-${{ github.run_number }}
      - name: Upload ${{ matrix.fork }} test results
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: test-results-mainnet-${{ matrix.fork }}-${{ github.run_number }}
          path: ./tests/core/pyspec/test-results-mainnet-${{ matrix.fork }}-${{ github.run_number }}
