name: Nightly Mainnet Tests

defaults:
  run:
    shell: zsh -e {0}

on:
  workflow_dispatch:
    inputs:
      ref:
        description: The branch, tag or SHA to checkout and build from
        default: master
        type: string
        required: true
  schedule:
    # Every day at 00:00 UTC
    - cron: "0 0 * * *"

jobs:
  tests:
    timeout-minutes: 720 # 12 hours
    runs-on: [self-hosted-ghr-custom, size-s-x64, profile-consensusSpecs]
    strategy:
      fail-fast: false
      matrix:
        fork:
          - phase0
          - altair
          - bellatrix
          - capella
          - deneb
          - electra
          - fulu
          - gloas
          - eip7805
          - eip7928
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv ${{ vars.UV_VERSION }}
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true
          version: ${{ vars.UV_VERSION }}
      - name: test-${{ matrix.fork }}
        run: make test component=pyspec preset=mainnet fork=${{ matrix.fork }}
      - name: Prepare test results for upload
        if: always()
        run: cp -r ./tests/core/pyspec/test-reports ./tests/core/pyspec/test-results-mainnet-${{ matrix.fork }}-${{ github.run_number }}
      - name: Upload ${{ matrix.fork }} test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: test-results-mainnet-${{ matrix.fork }}-${{ github.run_number }}
          path: ./tests/core/pyspec/test-results-mainnet-${{ matrix.fork }}-${{ github.run_number }}
