name: Run tests

defaults:
  run:
    shell: zsh -e {0}

on:
  push:
    branches: [dev, master]
  pull_request:

jobs:
  lint:
    runs-on: [self-hosted-ghr-custom, size-s-x64, profile-consensusSpecs]
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Run linter for pyspec
        run: |
          make lint
          git diff --exit-code

  whitespace:
    runs-on: [self-hosted-ghr-custom, size-s-x64, profile-consensusSpecs]
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Check for trailing whitespace
        run: |
          if git grep -n '[[:blank:]]$'; then
            echo "Trailing whitespace found. Please fix it."
            exit 1
          fi

  tests:
    needs: [lint, whitespace]
    runs-on: [self-hosted-ghr-custom, size-xl-x64, profile-consensusSpecs]
    strategy:
      matrix:
        fork:
          - phase0
          - altair
          - bellatrix
          - capella
          - deneb
          - electra
          - fulu
          - eip7732
          - eip7805
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: Run pyspec tests for ${{ matrix.fork }}
        run: make test preset=minimal fork=${{ matrix.fork }}
