name: Run tests

defaults:
  run:
    shell: zsh {0}

on:
  push:
    branches: [dev, master]
  pull_request:

jobs:
  lint:
    runs-on: [self-hosted-ghr-custom, size-s-x64, profile-consensusSpecs]
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set LC_ALL to C
        run: echo "LC_ALL=C" >> $GITHUB_ENV
      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 'pypy3.11'
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@9d7e65c320fdb52dcd45ffaa68deb6c02c8754d9 # v1.12.0
      - name: Run linter for pyspec
        run: |
          make lint
          git diff --exit-code

  whitespace:
    runs-on: [self-hosted-ghr-custom, size-s-x64, profile-consensusSpecs]
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Check for trailing whitespace
        run: |
          if git grep -n '[[:blank:]]$'; then
            echo "Trailing whitespace found. Please fix it."
            exit 1
          fi

  tests:
    needs: [lint, whitespace]
    runs-on: [self-hosted-ghr-custom, size-xl-x64, profile-consensusSpecs]
    strategy:
      matrix:
        fork:
          - phase0
          - altair
          - bellatrix
          - capella
          - deneb
          - electra
          - fulu
          - eip7441
          - eip7732
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set LC_ALL to C
        run: echo "LC_ALL=C" >> $GITHUB_ENV
      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 'pypy3.11'
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@9d7e65c320fdb52dcd45ffaa68deb6c02c8754d9 # v1.12.0
      - name: Run pyspec tests for ${{ matrix.fork }}
        run: make test preset=minimal fork=${{ matrix.fork }}

  modcheck:
    needs: [lint, whitespace]
    runs-on: [self-hosted-ghr-custom, size-s-x64, profile-consensusSpecs]
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set LC_ALL to C
        run: echo "LC_ALL=C" >> $GITHUB_ENV
      - name: Setup python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: 'pypy3.11'
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@9d7e65c320fdb52dcd45ffaa68deb6c02c8754d9 # v1.12.0
      - name: Run generators with --modcheck
        run: make gen_all modcheck=true 2>&1 | tee consensustestgen.log
      - name: Check for errors
        run: |
          if grep -q "\[ERROR\]" consensustestgen.log; then
            echo "There is an error in the log"
            exit 1
          fi
